In [5]:
#import required liabraries
import pandas as pd
import numpy as np

In [6]:
# unzip the train.tsv.zip file
!unzip train.tsv.zip

Archive:  train.tsv.zip
replace train.tsv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [8]:
# read file
df = pd.read_csv('/content/train.tsv',sep='\t')
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [10]:
df.shape    #gives rows and columns

(156060, 4)

In [11]:
df.info()     #gives overalll info about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [13]:
df.tail()       #last 5 values

        PhraseId  SentenceId                     Phrase  Sentiment
156055    156056        8544                  Hearst 's          2
156056    156057        8544  forced avuncular chortles          1
156057    156058        8544         avuncular chortles          3
156058    156059        8544                  avuncular          2
156059    156060        8544                   chortles          2

#see for null values

In [15]:
df.isnull().sum()      # as no null values ...So no need to use dropna

PhraseId      0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [16]:
df.describe()

            PhraseId     SentenceId      Sentiment
count  156060.000000  156060.000000  156060.000000
mean    78030.500000    4079.732744       2.063578
std     45050.785842    2502.764394       0.893832
min         1.000000       1.000000       0.000000
25%     39015.750000    1861.750000       2.000000
50%     78030.500000    4017.000000       2.000000
75%    117045.250000    6244.000000       3.000000
max    156060.000000    8544.000000       4.000000

#Lower all the data

In [17]:
df['Phrase'] = df['Phrase'].str.lower() #Lower all the data

In [18]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,a series of escapades demonstrating the adage ...,1
1,2,1,a series of escapades demonstrating the adage ...,2
2,3,1,a series,2
3,4,1,a,2
4,5,1,series,2

#Remove punctuation mark from dataset

In [19]:
punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
# Removing punctuations in string
# Using loop + punctuation string
def remov_punct(text):
      for i in text:
          if i in punctuation:
                text = text.replace(i, "")
      return text

In [20]:

df['Phrase']=df['Phrase'].apply(remov_punct)

In [21]:
df[4115:4125]

,PhraseId,SentenceId,Phrase,Sentiment
4115,4116,154,narrative form,2
4116,4117,154,form,2
4117,4118,155,stale and uninspired,1
4118,4119,155,stale and uninspired,0
4119,4120,155,stale,2
4120,4121,155,and uninspired,0
4121,4122,155,uninspired,0
4122,4123,155,uninspired,1
4123,4124,156,in the director s cut the film is not only a ...,3
4124,4125,156,in the director s cut,2

In [22]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,a series of escapades demonstrating the adage ...,1
1,2,1,a series of escapades demonstrating the adage ...,2
2,3,1,a series,2
3,4,1,a,2
4,5,1,series,2

#Count the sentiment value count for sentiment 0,1, 2,3,4,5

In [23]:
(df['Sentiment'] == 1).sum()  #0 labled data

27273

In [24]:
(df['Sentiment'] == 2).sum()  #0 labled data

79582

In [25]:
(df['Sentiment'] == 3).sum()  #0 labled data

32927

In [26]:
(df['Sentiment'] == 4).sum()  #0 labled data

9206

In [28]:
(df['Sentiment'] == 5).sum()  #0 labled data

0

In [29]:
(df['Sentiment'] == 0).sum()  #0 labled data

7072

In [30]:
df.tail()

        PhraseId  SentenceId                     Phrase  Sentiment
156055    156056        8544                   hearst s          2
156056    156057        8544  forced avuncular chortles          1
156057    156058        8544         avuncular chortles          3
156058    156059        8544                  avuncular          2
156059    156060        8544                   chortles          2